@page {
    size: A4;
    margin: 0;
}
.row {
    float: clear;
}
.rowx {
    clear:both;
}
.left {
    width: 50%;
    float: left;
    font-size: 15px;
    text-align: left;
}
.right {
    width: 50%;
    float: left;
    font-size: 15px;
    text-align: right;
}
.middle {
    width: 50%;
    float: left;
    font-size: 15px;
    text-align: middle;
}
.center {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.label {
    font-weight: semibold;
}

.col {
    width:  33%;
    text-align: left;
}
.colu{
    width:25%;
    text-align: left;
}
.bold{
  font-size: 18px;
  font-weight: bold;
}

